build/
SlicerCustomAppUtilities/
build_vs17/
build_vs17_backup/
Slicer_build_configure.log
.vs/
Tools/tmp_*
Tools/Invoke-Dump.txt
CMakeLists.txt.bak
 
# Build and package logs
*.log

# Backup files
*.bak
*.bak-*
